<ion-view>
  <ion-content class="center-vertical" ng-controller="PasswordSetupController" scroll="true">
    <form name="mainForm" class="container" ng-submit="setupPassword()">
      <div class="row row-no-padding">
        <div class="col col-center text-center">
          <i class="ion-ios-checkmark-outline assertive" style="font-size: 25vh;"></i>
        </div>
      </div>
      <div class="row row-no-padding row-center">
        <div class="col text-center">
          <h3 class="assertive">ยืนยัน OTP สำเร็จ</h3>
          <h3 class="assertive">กรุณาตั้งรหัสผ่านก่อนใช้งาน</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label"><strong>รหัสผ่าน</strong></span>
              <input type="tel" name="new_password" ng-model="new_password" placeholder="000000" minlength="6" maxlength="6" min="0" max="999999" numbers-only required>
              <p class="helper text-wrap">
                รหัสผ่านต้องเป็นตัวเลขตั้งแต่ 0 - 9 ความยาว 6 ตัวอักษร
              </p>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label"><strong>รหัสผ่านซ้ำ</strong></span>
              <input type="tel" name="retype_password" ng-model="retype_password" placeholder="000000" minlength="6" maxlength="6" min="0" max="999999" numbers-only required>
              <p class="helper text-wrap">
                กรอกรหัสผ่านเดิมอีกครั้งเพื่อยืนยัน
              </p>
            </label>
          </div>
        </div>
      </div>
      <div class="row row-bottom">
        <div class="col">
          <button type="submit" class="button button-block button-assertive" id="button-password-setup">
            ตั้งค่ารหัสผ่าน
          </button>
        </div>
      </div>
    </form>
    <div class="fix-keyboard"></div>
  </ion-content>
</ion-view>

