<ion-view ng-controller="ChangePasswordController">
  <ion-content class="password-container">
    <div class="row">
      <div class="col">
        <h3 class="text-center"><b>ตั้งรหัสใหม่</b></h3>
      </div>
    </div>

    <!--<div class="list">-->
      <form name="form_pass" ng-submit="submit()" novalidate>
        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : form_pass.password.$invalid && !form_pass.password.$pristine}">
          <span class="input-label"><strong>ใส่รหัสผ่านใหม่</strong></span>
          <input type="tel" name="password" ng-model="profile.new_password"  placeholder="กรอกรหัสผ่านใหม่ เป็นตัวเลขจำนวน 6 หลัก" minlength="6" maxlength="6" min="0" max="999999" pattern="[0-9]{6}" numbers-only required>
          <div class="help-block" ng-show="form_pass.password.$invalid && !form_pass.password.$pristine">
            <p ng-show="form_pass.password.$error.required">* โปรดกรอกรหัสผ่าน </p>
            <p ng-show="form_pass.password.$error.pattern">* รหัสผ่านต้องเป็นตัวเลข 6 ตัว </p>
          </div>
        </label>
        <label class="item item-input item-stacked-label" ng-class="{ 'has-errors' : form_pass.retype_password.$invalid && !form_pass.retype_password.$pristine}">
          <span class="input-label"><strong>ใส่รหัสผ่านใหม่อีกครั้ง</strong></span>
          <input type="tel" name="retype_password" ng-model="profile.retype_password" placeholder="กรอกรหัสผ่านซ้ำอีกครั้ง" minlength="6" maxlength="6" min="0" max="999999" pattern="{{new_password}}" numbers-only required>
          <div class="help-block" ng-show="form_pass.retype_password.$invalid && !form_pass.retype_password.$pristine">
            <p ng-show="form_pass.retype_password.$error.required">* โปรดกรอกรหัสผ่านอีกครั้ง </p>
            <p ng-show="form_pass.retype_password.$error.pattern">* รหัสผ่านไม่ตรงกัน </p>
          </div>
        </label>

        <div class="row row-button">
          <div class="col">
            <button class="button button-block button-positive" type="submit" ng-disabled="form_pass.$invalid">ตั้งรหัสใหม่ทันที</button>
          </div>
        </div>
      </form>
    <div class="fix-keyboard"></div>
    <!--</div>-->
  </ion-content>
</ion-view>
